<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Sanatorium</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body style="background-color: #e9ecef;">

<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <h5>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" style="margin-left: 250px">
                        <a href="/"><img src="../../images/logo.png" height="130" width="180"></a>
                    </li>
                    <li class="nav-item" style="margin-top: 60px; margin-left: 100px">
                        <a class="nav-link" href="/rooms">Номера <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown" style="margin-top: 60px">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Лечение
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/health/diagnostic">Диагностика</a>
                            <a class="dropdown-item" href="/health/reflect">Кабинет Рефлексотерапии</a>
                            <a class="dropdown-item" href="/health/ozone">Озонотерапия</a>
                            <a class="dropdown-item" href="/health/dentist">Стоматологический Кабинет</a>
                            <a class="dropdown-item" href="/health/mineral">Минеральные Процедуры</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" style="margin-top: 60px">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Услуги
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/services/bar">Кафе и Бары</a>
                            <a class="dropdown-item" href="/services/swimmingPool">Бассейн</a>
                            <a class="dropdown-item" href="/services/sauna">Банный Комплекс</a>
                            <a class="dropdown-item" href="/services/spa">SPA</a>
                        </div>
                    </li>
                    <li class="nav-item" style="margin-top: 60px">
                        <a class="nav-link" href="/contacts">Контакты <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" style="margin-top: 53px; margin-left: 40px">
                        <p><small>+375-17-97-20400</br>
                            +375-17-97-21580 <span class="sr-only">(current)</span></small></p>
                    </li>
                    <li class="nav-item dropdown" style="margin-left: 130px; margin-top: 60px">
                        <div sec:authorize="hasRole('USER')">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                               data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">[[${#httpServletRequest.remoteUser}]]
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/user/myOrders">Мои заказы</a>
                                <div class="dropdown-divider"></div>
                                <div sec:authorize="hasRole('ADMIN')">
                                    <a class="dropdown-item" href="/admin/orders">Просмотреть все заказы</a>
                                    <a class="dropdown-item" href="/admin/users">Управление пользователями</a>
                                    <a class="dropdown-item" href="/admin/rooms/edit">Редактировать комнаты</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" style="margin-top: 60px">
                        <a class="nav-link" href="/auth">Вход</a>
                    </li>
                    <li class="nav-item" style="margin-top: 60px">
                        <div sec:authorize="hasRole('USER')">
                            <a class="nav-link" href="/logout">Выйти</a>
                        </div>
                    </li>
                </ul>
            </h5>
        </div>
    </nav>
</div>
</br>


<h3 class="card-title text-info" style="text-align: center">Кафе и Бары</h3>
</br>

<div class="card border-info mb-3"
     style="width: 700px; margin-left: auto; margin-right: auto">
    <img src="../../images/cafe.png" class="card-img-top" alt="0"
         style="height: 450px">
    <div class="card-body">
        <h5 class="card-title">Кафе-пиццерия</h5>
        <p class="card-text" style="text-align: justify">
            <b>Режим работы: воскресенье-четверг с 10:00 до 22:00,
                пятница-суббота с 10:00 до 22:30, без выходных.
            </b>
            </br>
            Современное кафе-пиццерия радует своих посетителей вкусными и разнообразными блюдами по приемлемым ценам.
            Главным блюдом кафе-пиццерии является пицца! Её можно заказать непосредственно в кафе либо заранее по телефону.
            Предлагаются блюда белорусской и итальянской кухни.Отдыхающие могут выбрать закуску, первое блюдо, горячее блюдо, вкусные десерты.
            Интерьер кафе выполнен в современно-классическом стиле. Домашний  уют создают деревянные элементы интерьера.
            Общая вместимость кафе 33 посадочных мест, а летом работает веранда.
        </p>
        <p class="card-text"><b>Телефон для заказов: 41-3-89</b></p>
    </div>
</div>
</br>
</br>

<div class="card border-info mb-3"
     style="width: 700px; margin-left: auto; margin-right: auto">
    <img src="../../images/bar.png" class="card-img-top" alt="0"
         style="height: 450px">
    <div class="card-body">
        <h5 class="card-title">Бар</h5>
        <p class="card-text" style="text-align: justify">
            <b>Режим работы: понедельник-четверг: 15:00-24:00, пятница-воскресенье: 15:00-01:00</b>
            </br>
            В баре предлагается широкий ассортимент алкогольных и
            безалкогольных напитков, горячие напитки, мороженое,
            а также – большой выбор горячих и холодных закусок.
        </p>
        <p class="card-text"><b>Телефон для заказов: 43-5-17</b></p>
    </div>
</div>
</br>
</br>

<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-info"
         style=" height: 200px">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
            <h5>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" style="margin-top: 40px; margin-left: 270px">
                        <a class="nav-link" href="/contacts">
                            <small>
                                Все Контакты
                            </small>
                        </a>
                    </li>
                    <li class="nav-item" style="margin-top: 30px; margin-left: 130px">
                        <p>
                            <small>
                                Адрес:</br>
                                РБ, Минская обл, К.П.</br>
                                Нарочь, ул.Ленинская 15
                            </small>
                        </p>
                    </li>
                    <li class="nav-item" style="margin-top: 30px; margin-left: 130px">
                        <p>
                            <small>
                                e-mail: san@comp.by</br>
                                e-mail: med@naroch.by</br>
                                skype: san_med
                            </small>
                        </p>
                    </li>
                    <li class="nav-item" style="margin-top: 33px; margin-left: 130px">
                        <p>
                            <small>
                                +375-17-97-20400
                                </br>
                                +375-17-97-21580
                            </small>
                        </p>
                    </li>
                </ul>
            </h5>
        </div>
    </nav>
</div>

</body>
</html>