<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Construction Company</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body style="background-color: #e9ecef; margin-top: 70px">
<div class="container text-center">
    <h1>Система Заказа Транспортных Билетов</h1>
    <h3><a th:href="@{/users/new}">Зарегистрироваться</a></h3>
    <h3><a th:href="@{/login}">Войти</a></h3>

    <div class="jumbotron" style="margin-right: auto; margin-left: auto">
        <img src="../../images/img.png" height="420" width="760"/>
    </div>
</div>

</body>
</html>